body {
  background-image: url(rainbow.jpeg);
  font-family: "Joan", serif;
}

h1 {
  color: #e99566;
  text-align: center;
}

h2 {
  text-align: center;
  color: #b6e1e0;
}

.btn {
  display: block;
  margin: 0 auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #e99566;
  border-radius: 10px;
}
